
/* Texts */

h1 {
    color: black;
    font-size: 48px;
}

p {
    color: black
}


/* Main components */

.mainapp {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.title {
    display: flex;
    justify-content:center;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

.title > img {
    padding: 10px;
    padding-left: 40px;
}

.banner {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: gainsboro;
}

.main {
    text-align: justify;
    height: 1000px;
    padding: 10px;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
}


/* Boxes */

.boxes {
    text-align: center;
    padding: 20px;
}

.boxrow {
    display: flex;
    justify-content: center;
}

.box {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    border: black;
    border-width: 2px;
    border-style: solid;
}


/* Buttons */

button {
    color: black;
    background-color: #CABFA6;
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:hover {
    color: black;
    background-color: rgb(104, 126, 104);
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

button:focus {
    color: black;
    background-color: rgb(104, 126, 104);
    font-family: Ubuntu sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-width: 0px;
}

.startbutton {
    text-align: center;
    padding: 20px;
}
